#header {
	display: none;
}
#header table {
	display: none;
}
#staticMenuBar {
	display: none;
}
#footer {
	display: none;
}
#printMessage {
	text-align: center;
	background-color: #000000;
}
#printMessage a {
	color: red;
	font-weight: bold;
}