body, table, input {
	font-family: Arial, Verdana;
	font-size: 10pt;
}

div.footer {
	text-align: center;
	font-size: 8pt;
}

/* SUGGEST */
.SuggestFramework_List {
	border: 1px solid #CCCCCC;
	border-top: 0;
}

.SuggestFramework_Heading {
	padding: 0 1px 0 1px;
	background-color: #CCCCCC;
	color: #FFFFFF;
	font-weight: bold;
}

.SuggestFramework_Highlighted {
	padding: 0 1px 0 1px;
	background-color: Highlight;
	color: HighlightText;
}

.SuggestFramework_Normal {
	padding: 0 1px 0 1px;
	background-color: #FFFFFF;
	color: #000000;
}
/* END SUGGEST */