body, table, input {
	font-family: Arial, Verdana;
	font-size: 10pt;
}

div.footer {
	text-align: center;
	font-size: 8pt;
}

/* CALENDAR */
td.calendarDateInput {
	letter-spacing: normal;
	line-height: normal;
	font-family: Arial,Verdana,Sans-Serif;
	font-size: 8pt;
	}
   
select.calendarDateInput {
	letter-spacing: .06em;
	font-family: Arial, Verdana,Sans-Serif;
	font-size: 9pt;
	}
   
input.calendarDateInput {
	letter-spacing: .06em;
	font-family: Arial, Verdana,Sans-Serif;
	font-size: 9pt;
	}
/* CALENDAR */
