body, table {
	font-family: verdana, arial;
	font-size: 10pt;
}
#dataGrid {
	border: 1px solid #ececec;
}
#dgTableHead {
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
	width: 100%;
}
#dgScroll {
	height: 180px;
	width: 100%;
	overflow: auto;
}
#dgTableFoot {
	width: 100%;
	background-color: #ececec;
}
#dgData {
	width: 100%;
}
#dgData tr {
	border: 1px solid #ececec;
}

tr.dgRow {
	background-color: #ffffff;
	width: 100%;
}
tr.dgRowSelected {
	background-color: #339900;
	width: 100%;
	color: white;
}
tr.dgRowSelectedActive {
	background-color: #44CC00;
	width: 100%;
	color: white;
}
tr.dgRowActive {
	background-color: #FFFF00;
	width: 100%;
}
	